.card{
    min-width: 200px;
}

.poster{
    width: 100%;
    min-height: 280px;
    margin-bottom: 10px;
}

.poster img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    animation: fadeIn 1s;
    transition: all .3s ease-in-out;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.content h3{
   font-size: 16px;
   margin-bottom: 4px;
}